<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hi all</title>
</head>
<body>
    <h1>Welcome in web calculator! )))</h1>
        <P>Use in URL - "/calc/x/y/operation></P>
        <p>Operations:</p>
        <p>"sum" or "+" - adds 2 values</p>
        <p>"div" or "|" - divides 2 values</p>
        <p>"dif" or "-" - difference 2 values</p>
        <p>"mult" or "*" - multiplies 2 values</p>

</body>
</html>