<h1>{{ car.model.brand.name }} {{ car.model.name }}</h1>
<div>
    Бренд - {{ car.model.name }} <br/>
    Модель - {{ car.model.brand.name }} <br/>
    Цена - {{ car.price }} USD <br/>
    Цвет - {{ car.color.name }} <br/>
    Тип двигателя - {{ car.engine_type }} <br/>
    Обьем двигателя - {{ car.capacity }} <br/>
    Мощность двигателя - {{ car.engine_power }} <br/>
    Коробка передач - {{ car.gear_case }} <br/>
    Для кого - {{ car.population_type }} <br/>
    Статус - {{ car.status }} <br/>
    Кол-во дверей - {{ car.doors }} <br/>
    Кол-во мест - {{ car.sitting_place }} <br/>
    Номер - {{ car.number }} <br/>
    Дата регистрации - {{ car.first_registration_date }} <br/>
    Описание - {{ car.description }} <br/>
</div>