<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покупки авто</title>
</head>
<body>
<h1>Добро пожаловать на главную страницу сайта для покупки авто</h1>
<p>Выберите интересующую тему</p> <br/>
<a href="./cars">Список всех автомобилей</a>    <a href="./api/car/json">JSON</a> <br/>
<a href="./orders">Список всех заказов</a>    <a href="./api/order/json">JSON</a><br/>
<a href="./dealers">Список всех продавцов</a>    <a href="./api/dealer/json">JSON</a><br/>
<br/>
<br/>
<a href="./subscribe/new">Подписаться на новостную рассылку</a>

</body>
</html>